.Storybook.a-Field {
  width: 100%;
  background: rgba(0, 0, 255, 0.404);
  border: 1px solid blue;
}

.Storybook.a-Field.--transparent {
  background-color: transparent;
  border-color: transparent;
}

.Storybook.a-Field.--loading {
  background: rgba(201, 201, 201, 0.204);
}

.Storybook.a-Field.--s {
  height: 2rem;
}
.Storybook.a-Field.--m {
  height: 3rem;
}
.Storybook.a-Field.--l {
  height: 4rem;
}

.Storybook.a-Field:hover {
  background: rgba(0, 0, 255, 0.204);
}

.Storybook.a-Field.--focused {
  background: rgba(0, 0, 255, 0.204);
  box-shadow: 0px 0px 0px 3 rgba(200, 255, 0, 0.204);
}

.Storybook.a-Field.--disabled {
  background: rgba(113, 113, 113, 0.204);
}

.Storybook.a-Field.--hidden {
  display: none;
}

.Storybook.a-Field.--error {
  background: rgba(255, 0, 0, 0.204);
}
.Storybook.a-Field.--error.--focused {
  background: rgba(255, 0, 0, 0.123);
}
.Storybook.a-Field.--error:hover {
  background: rgba(255, 0, 0, 0.204);
}
